<div>
    <header>
        <h1>{{ title | uppercase }}</h1>
    </header>
   
<div>


<lib-lib-profitloss 
    [tableItems]="data1" 
    [lastRowData]="lastItem"
    [isFirstSticky]="stickColumn" 
    [isLastSticky]="stickLastColumn" 
    [numberOfDuration]="noOfDuration"
    [headerName]="headerText" 
    [editFields]="canEdit" 
    [stickHeader]="headerFix"
    [filterJson] ="filterJSON"
    [resizeColumn] = "columnResize"
    (notifyDataChange)="getEditedData($event)"
    >
</lib-lib-profitloss>
</div>
</div>